# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/

# PHP
backend/vendor/
backend/.env
backend/.vscode/

# Database
database/*.log

# OS
.DS_Store
Thumbs.db
